.blogpage {
    overflow-x: hidden;
    .scblog {
        padding-top: calc(var(--height-header) + 70px);
        .textbox {
            &:first-child {
                margin-bottom: 48px;
                .desc {
                    max-width: 550px;
                }
            }
        }
        @media screen and (max-width: 1250px) {
            .textbox {
                &.--between {
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .heading {
                        margin-bottom: 16px;
                    }
                    .desc {
                        text-align: center;
                        max-width: 500px;
                    }
                }
            }
            .post {
                grid-template-columns: 586px;
                grid-template-rows: 1fr;
                &.--blog {
                    .thumbnail {
                        grid-area: 1/1/2/3;
                        margin: 0 0% 0 0%;
                        border-bottom-right-radius: 0;
                        border-top-left-radius: 40px;
                    }
                    .btn-tag {
                        top: -18px;
                    }
                    .content {
                        grid-area: 2/1/3/3;
                        margin: 0 0 0 0;
                        border-bottom-right-radius: 40px;
                        border-top-left-radius: 0;
                        padding: 58px 47px;
                    }
                }
            }
        }
        @include sm {
            .textbox {
                &.--between {
                    .desc {
                        max-width: 400px;
                    }
                }
            }
            .post {
                &.--blog {
                    .thumbnail {
                        margin: 0 5% 0 5%;
                    }
                    .content {
                        margin: 0 5% 0 5%;
                    }
                }
            }
        }
        @include xs {
            padding-top: calc(var(--height-header) + 48px);
            .textbox {
                margin-bottom: 47px;
                &.--between {
                    align-items: flex-start;
                    justify-content: flex-start;
                    .heading {
                        margin-bottom: 16px;
                    }
                    .desc {
                        text-align: left;
                        max-width: 320px;
                    }
                }
            }
            .post {
                grid-template-columns: 1fr;
                &.--blog {
                    .thumbnail {
                        grid-area: 1/1/2/2;
                        aspect-ratio: 382/215;
                        margin: unset;
                        border-top-left-radius: 40px;
                        border-top-right-radius: 40px;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 104%;
                            object-fit: cover;
                        }
                    }
                    .btn-tag {
                        position: absolute;
                        top: -18px;
                        z-index: 100;
                    }
                    .content {
                        grid-area: 2/1/3/2;
                        position: relative;
                        margin: unset;
                        padding: 42px 31px 24px 23px;
                        .textbox {
                            padding-bottom: 39px;
                            border-bottom: 1px solid var(--black-01);
                            margin-bottom: 23px;
                            .heading {
                                font-size: 2.2rem;
                                line-height: 3.1rem;
                                letter-spacing: 0rem;
                                margin-bottom: 16px;
                                max-width: 328px;
                            }
                        }
                    }
                    .author {
                        display: flex;
                    }
                }
            }
        }
    }
    .scpost {
        margin-top: 148px;
        &__top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 56px;
            .listtab {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .btn-tag {
                    cursor: pointer;
                    &:not(:last-child) {
                        margin-right: 16px;
                    }
                }
            }
        }
        &__mid {
            .post__list {
                display: none;
                grid-template-rows: 1fr 1fr;
                @include transition(var(--duration));
                .post {
                    &:first-child {
                        grid-area: 1/1/2/2;
                    }
                    &:nth-child(2) {
                        grid-area: 1/2/2/3;
                    }
                    &:nth-child(3) {
                        grid-area: 1/3/2/4;
                    }
                    &:nth-child(4) {
                        grid-area: 2/1/2/2;
                    }
                    &:nth-child(5) {
                        grid-area: 2/2/2/3;
                    }
                    &:last-child {
                        grid-area: 2/3/2/4;
                    }
                }
                &.active {
                    display: grid;
                }
            }
        }
        &__bottom {
            margin-top: 26px;
            margin-bottom: 80px;
        }
        @include sm {
            &__mid {
                .post__list {
                    grid-template-columns: 1fr 1fr;
                    .post {
                        &:first-child {
                            grid-area: 1/1/2/2;
                        }
                        &:nth-child(2) {
                            grid-area: 1/2/2/3;
                        }
                        &:nth-child(3) {
                            grid-area: 2/1/3/2;
                        }
                        &:nth-child(4) {
                            grid-area: 2/2/3/3;
                        }
                        &:nth-child(5) {
                            grid-area: 3/1/4/2;
                        }
                        &:last-child {
                            grid-area: 3/2/4/3;
                        }
                    }
                }
            }
        }
        @include xs {
            margin-top: 80px;
            &__top {
                flex-direction: column;
                margin-bottom: 24px;
                .heading {
                    margin-bottom: 24px;
                }
                .listtab {
                    flex-direction: column;
                    width: 100%;
                    .btn-tag {
                        width: 50%;
                        height: 48px;
                        &:not(:last-child) {
                            margin-right: 0px;
                            margin-bottom: 16px;
                        }
                    }
                }
            }
            &__mid {
                .post__list {
                    grid-template-columns: 1fr;
                    .post {
                        &:first-child {
                            grid-area: 1/1/2/2;
                        }
                        &:nth-child(2) {
                            grid-area: 2/1/3/2;
                        }
                        &:nth-child(3) {
                            grid-area: 3/1/4/2;
                        }
                        &:nth-child(4) {
                            grid-area: 4/1/5/2;
                        }
                        &:nth-child(5) {
                            grid-area: 5/1/6/2;
                        }
                        &:last-child {
                            grid-area: 6/1/7/2;
                        }
                    }
                }
            }
        }
        @include xxs {
            &__top {
                .listtab {
                    .btn-tag {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.scmail {
    margin-top: 92px;
    background: var(--main-cl);
    padding-top: 83px;
    padding-bottom: 84px;
    .container {
        align-items: center;
    }
    &__icon {
        grid-area: 1/1/2/2;
        .box-icon {
            background: var(--white-cl);
        }
    }
    &__title {
        grid-area: 1/2/2/8;
        margin-left: -7px;
    }
    &__form {
        grid-area: 1/8/2/13;
    }
    @include sm {
        .container {
            @include mid(true);
            flex-direction: column;
        }
        &__title {
            text-align: center;
        }
        &__form {
            .form-group {
                .btn-submit {
                    top: 13%;
                    right: 3%;
                    @include transform(translate(0, 0));
                    background: var(--blue-light-cl);
                    &:hover {
                        background: var(--blue-dark-cl);
                    }
                }
            }
        }
    }
    @include xs {
        padding: 80px 20px 79px 20px;
        margin-top: 80px;
        &__form {
            .form-group {
                .btn-submit {
                    top: 10%;
                }
            }
        }
    }
    @include xxs {
        &__title {
            max-width: 350px;
        }
        &__form {
            .form-group {
                flex: 1;
                width: 100%;
                position: initial;
                &.--mail {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                    .input-email {
                        padding: 8px 16px;
                        margin-bottom: 20px;
                        height: 80px;
                        width: 100%;
                    }
                    .btn-submit {
                        width: 100%;
                        position: initial;
                        height: 80px;
                        @include transform(translate(0, 0));
                    }
                }
            }
        }
    }
}